{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/business.css' %}">
</head>
<body>
    <nav class="navbar">
        <img src="{% static 'Images/logo.png' %}" alt="">
        <p class="buy">
            Instant Buy/Sell
        </p>

        <p class="learn">
            Learn
        </p>

        <button class="login"> Log In </button>

        <button class="started"> Get Started </button>
    </nav>

    <form class="form" method="post">

        {% csrf_token %}

        <h2 class="welcome"> WELCOME! </h2>

        <div class="formdiv1">

            <div class="form2">
                <h3 class="ind"> Individual</h3>

            </div>

            <div class="form3">

                <h3 class="ind"> Business</h3>
            </div>
        </div>

        <input type="hidden" value="business">
        <input type="text" name="username" id="username" placeholder="Username">

        <br>
        <input type="text" name="businessname" id="businessname" placeholder="Business Name">

        <br>
        <input type="email" name="email" id="email" placeholder="Email">

        <br>
        <input type="text" name="phonenumber" id="phonenumber" placeholder="Phone Number">

        <br>
        <input type="text" name="code" id="code" placeholder="Referal Code (optonal)">

        <br>
        <input type="password" name="password" id="password" placeholder="Password">

        <br>
        <input type="password" name="passwordagain" id="passwordagain" placeholder="Confirm your Password">

        <p class="click"> By clicking the Sign Up button below, you agree to TradExpress <span class="span"> terms and service </span> </p>

        <button class="signbutton" type="submit"> Sign Up </button>

        <p class="account"> Already have an account? <span class="span">Click here</span></p>
    </form>
</body>
</html>